@font-face {
    font-family:"nunito";
    src:url("/src/fonts/Nunito_Sans/NunitoSans-Black.ttf")
}

.MainComponent {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainOverskrift {
    font-size:4rem;
    font-family:"nunito";
    color:rgb(234, 221, 235);
}

.mainContent {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_picture {
    width:20rem;
}

.mainParagraph {
    font-size:1.5rem;
    color:rgb(234, 221, 235);
    
}