@font-face {
    font-family:"nunito";
    src:url("/src/fonts/Nunito_Sans/NunitoSans-Black.ttf")
}

.omMegOverskrift {
    font-size:4rem;
    font-family:"nunito";
    color:rgb(234, 221, 235);
}

p {
    font-family: "nunito";
    color:rgb(234, 221, 235);
    font-size:1.5rem;
    
}